# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem

# dependencies
/node_modules
/.pnp
.pnp.js

# IDE
/.idea
/.awcache
/.vscode
*.code-workspace
